<div class="container" ng-hide="editing">
    <div class="panel panel-default">
        <div class="panel-heading"><h3><td><a ng-click="editing = true" >{{ userName }}</a></td></h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-5">
                <label>Email: </label>
                {{ userEmail }}
            </div>
            <div class="col-md-8">
                <label>Your Bio:</label>
                {{ userBio }}
            </div>
            <div class="col-md-8">
                <label>Items:</label>
                {{ userItems }}
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="editing" id="editForm">
    <form>
        <div class="form-group row">
            <div class="col-md-8">
                <label>Bio:</label>
                <input type="text" class="form-control" ng-model="userBio">
            </div>
        </div>
        <div class="col-md-5">
            <input type="submit" class="btn btn-primary btn-lg" ng-click="saveProfileData()">
        </div>
    </form>
</div>

