<head>
    <!-- Meta Config -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Required Scripts -->
    <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

    <!-- Main Angular Controllers -->
    <script src="controllers/main/app.js"></script>
    <script src="controllers/main/services.js"></script>
    <script src="controllers/main/routes.js"></script>
    <script src="controllers/main/filters.js"></script>

    <!-- Angular View Controllers -->
    <script src="controllers/content/loginController.js"></script>
    <script src="controllers/content/mainController.js"></script>
    <script src="controllers/content/foodController.js"></script>
    <script src="controllers/content/ticketController.js"></script>
    <script src="controllers/content/textbookController.js"></script>
    <script src="controllers/content/furnitureController.js"></script>
    <script src="controllers/content/profileController.js"></script>
    <script src="controllers/content/editBookController.js"></script>

    <!-- Styles -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="images/favicon.png">

    <title>Welcome to The MU</title>
</head>

<div ng-app="app">
    <!-- Navigation Bar -->
    <div ng-controller="headerController">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#main" ng-click="isNavCollapsed = true">The MU</a>
            </div>
            <div class="navbar-collapse" uib-collapse="isNavCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="#textbooks" ng-click="isNavCollapsed = true" ng-show="display_Navinfo">Textbooks</a></li>
                    <li><a href="#tickets" ng-click="isNavCollapsed = true" ng-show="display_Navinfo">Tickets</a></li>
                    <li><a href="#furniture" ng-click="isNavCollapsed = true" ng-show="display_Navinfo">Furniture</a></li>
                    <li><a href="#food" ng-click="isNavCollapsed = true" ng-show="display_Navinfo">Food</a></li>
                </ul>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-controller="loginController" class="btn-group" uib-dropdown is-open="status.isopen">
                            <a class="btn-group" ng-hide="display_Navinfo" ng-click="authenticate()">Login Here</a>
                            <a  id="single-button" uib-dropdown-toggle ng-disabled="disabled" ng-show="display_Navinfo">#Insert_UserName<span class="caret"></span></a>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href="#profile">Profile</a></li>
                                <li role="menuitem"><a href="#">Messages</a></li>
                                <li role="menuitem"><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li ng-controller="loginController" role="menuitem"><a href="#index" ng-click="signOut()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- End Navigation Bar -->

    <!-- Page Content -->
    <div ng-controller="loginController">
        <div ng-view=""></div>
    </div>
    <!-- End Page Content -->
</div>

